.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.bg_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("/fonts/lato-v16-latin-regular.woff") format("woff"), url("/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("/fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-900.woff2") format("woff2"), url("/fonts/lato-v16-latin-900.woff") format("woff"), url("/fonts/lato-v16-latin-900.ttf") format("truetype"), url("/fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("/fonts/noto-serif-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-regular.woff") format("woff"), url("/fonts/noto-serif-v8-latin-regular.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/noto-serif-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("/fonts/noto-serif-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-700.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-700.woff") format("woff"), url("/fonts/noto-serif-v8-latin-700.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

.page__title {
  margin: 0 8%;
  padding: 30% 0 4% 0; }
  @media (min-width: 768px) {
    .page__title {
      padding: 16rem 0 4rem 0; } }
  @media (min-width: 992px) {
    .page__title {
      padding: 14rem 0 4rem 0; } }
  @media (min-width: 1200px) {
    .page__title {
      padding: 16vh 0 4rem 0; } }
  .page__title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .page__title h1 {
        font-size: 3.2rem; } }
    @media (min-width: 992px) {
      .page__title h1 {
        font-size: 3.6rem; } }
    @media (min-width: 1200px) {
      .page__title h1 {
        font-size: 4rem; } }

.title__lg {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Noto Serif'; }

.text {
  line-height: 1.6;
  font-family: "Noto Serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, #160e22, #2D1D46, #632948); }
  @media (min-width: 1700px) {
    html {
      font-size: 72%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  color: #C2AC84;
  scroll-behavior: smooth; }

#root {
  flex-direction: column;
  justify-content: space-around; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Lato"; }

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }

.golden__button {
  background: none;
  color: #C2AC84;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(194, 172, 132, 0.4), transparent); }

input {
  font-family: inherit; }

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 2px;
    background-color: #000; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: linear-gradient(to bottom, #000, #C2AC84); } }

.seo__hidden {
  position: absolute;
  visibility: hidden; }

.window {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }

@media (min-width: 768px) {
  #content {
    padding-top: 16%; } }

@media (min-width: 992px) {
  #content {
    padding-top: 8%; } }

.errorpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .errorpage p {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .errorpage p a {
      margin: 2rem 0;
      font-weight: bold;
      display: block; }

#__next {
  position: relative; }

.errorpage__code {
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 9rem; }

.mehrlesen {
  line-height: 1;
  height: 16px;
  display: flex;
  letter-spacing: 1.5px;
  transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94);
  align-items: center; }
  .mehrlesen .mehrlesen_text {
    font-weight: 900;
    line-height: 1.6;
    transition: inherit; }
  .mehrlesen .mehrlesen_graph {
    width: 60px;
    overflow: hidden;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
    .mehrlesen .mehrlesen_graph svg {
      float: right; }
  .mehrlesen .mehrlesen_arrow {
    margin: auto 0;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #C2AC84;
    width: 60px;
    transition: inherit; }
    .mehrlesen .mehrlesen_arrow::after {
      content: '>';
      bottom: -8px;
      right: -4px;
      font-size: 19px;
      position: absolute; }

.icon {
  display: inline-block;
  position: relative; }
  .icon svg path, .icon svg polygon {
    fill: #C2AC84; }
  .icon span {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    @media (min-width: 1200px) {
      .icon span {
        font-size: 1.2rem; } }

.icon--plus {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon--mapMarker {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.icon--view {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon__location {
  height: 9.5rem;
  width: 9.5rem; }
  @media (min-width: 1200px) {
    .icon__location {
      width: 12rem;
      height: 12rem; } }
  .icon__location svg {
    width: 100%;
    height: 100%; }

.icon--cross {
  width: 2rem;
  height: 2rem; }

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem; }
  .icon__social svg {
    width: 100%;
    height: 100%; }
    .icon__social svg path, .icon__social svg polygon {
      fill: #C2AC84; }

.icon__util {
  height: 5rem;
  width: 5rem; }
  .icon__util svg {
    width: 100%;
    height: 100%; }

.buttonBack___1mlaL, .buttonFirst___2rhFr, .buttonLast___2yuh0, .buttonNext___2mOCa, .buttonNext___3Lm3s, .dot___3c3SI {
  cursor: pointer; }

.image___xtQGH {
  display: block;
  width: 100%;
  height: 100%; }

.spinner___27VUp {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation-name: spin___S3UuE;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  border: 4px solid #a9a9a9;
  border-top-color: #000;
  border-radius: 30px; }

@keyframes spin___S3UuE {
  0% {
    transform: rotate(0deg); }
  to {
    transform: rotate(1turn); } }

.container___2O72F {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%; }

.overlay___IV4qY {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  cursor: zoom-in;
  transition: opacity .3s,transform .3s; }

.hover___MYy31, .loading___1pvNI, .zoom___3kqYk {
  opacity: 1; }

.imageLoadingSpinnerContainer___3UIPD {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4; }

.slide___3-Nqo {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 0;
  margin: 0;
  list-style-type: none; }

.slide___3-Nqo:focus {
  outline: none !important; }

.slideHorizontal___1NzNV {
  float: left; }

.slideInner___2mfX9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.focusRing___1airF {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  pointer-events: none;
  outline-width: 5px;
  outline-style: solid;
  outline-color: Highlight; }

@media (-webkit-min-device-pixel-ratio: 0) {
  .focusRing___1airF {
    outline-style: auto;
    outline-color: -webkit-focus-ring-color; } }

.horizontalSlider___281Ls {
  position: relative;
  overflow: hidden; }

.horizontalSliderTray___1L-0W {
  overflow: hidden;
  width: 100%; }

.verticalSlider___34ZFD {
  position: relative;
  overflow: hidden; }

.verticalSliderTray___267D8 {
  overflow: hidden; }

.verticalTray___12Key {
  float: left; }

.verticalSlideTrayWrap___2nO7o {
  overflow: hidden; }

.sliderTray___-vHFQ {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0; }

.sliderAnimation___300FY {
  transition: transform .5s;
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  will-change: transform; }

.masterSpinnerContainer___1Z6hB {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #f4f4f4; }

.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.bg_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("/fonts/lato-v16-latin-regular.woff") format("woff"), url("/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("/fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-900.woff2") format("woff2"), url("/fonts/lato-v16-latin-900.woff") format("woff"), url("/fonts/lato-v16-latin-900.ttf") format("truetype"), url("/fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("/fonts/noto-serif-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-regular.woff") format("woff"), url("/fonts/noto-serif-v8-latin-regular.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/noto-serif-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("/fonts/noto-serif-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-700.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-700.woff") format("woff"), url("/fonts/noto-serif-v8-latin-700.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

.page__title {
  margin: 0 8%;
  padding: 30% 0 4% 0; }
  @media (min-width: 768px) {
    .page__title {
      padding: 16rem 0 4rem 0; } }
  @media (min-width: 992px) {
    .page__title {
      padding: 14rem 0 4rem 0; } }
  @media (min-width: 1200px) {
    .page__title {
      padding: 16vh 0 4rem 0; } }
  .page__title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .page__title h1 {
        font-size: 3.2rem; } }
    @media (min-width: 992px) {
      .page__title h1 {
        font-size: 3.6rem; } }
    @media (min-width: 1200px) {
      .page__title h1 {
        font-size: 4rem; } }

.title__lg {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Noto Serif'; }

.text {
  line-height: 1.6;
  font-family: "Noto Serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, #160e22, #2D1D46, #632948); }
  @media (min-width: 1700px) {
    html {
      font-size: 72%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  color: #C2AC84;
  scroll-behavior: smooth; }

#root {
  flex-direction: column;
  justify-content: space-around; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Lato"; }

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }

.golden__button {
  background: none;
  color: #C2AC84;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(194, 172, 132, 0.4), transparent); }

input {
  font-family: inherit; }

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 2px;
    background-color: #000; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: linear-gradient(to bottom, #000, #C2AC84); } }

.seo__hidden {
  position: absolute;
  visibility: hidden; }

.window {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }

@media (min-width: 768px) {
  #content {
    padding-top: 16%; } }

@media (min-width: 992px) {
  #content {
    padding-top: 8%; } }

.errorpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .errorpage p {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .errorpage p a {
      margin: 2rem 0;
      font-weight: bold;
      display: block; }

#__next {
  position: relative; }

.errorpage__code {
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 9rem; }

.mehrlesen {
  line-height: 1;
  height: 16px;
  display: flex;
  letter-spacing: 1.5px;
  transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94);
  align-items: center; }
  .mehrlesen .mehrlesen_text {
    font-weight: 900;
    line-height: 1.6;
    transition: inherit; }
  .mehrlesen .mehrlesen_graph {
    width: 60px;
    overflow: hidden;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
    .mehrlesen .mehrlesen_graph svg {
      float: right; }
  .mehrlesen .mehrlesen_arrow {
    margin: auto 0;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #C2AC84;
    width: 60px;
    transition: inherit; }
    .mehrlesen .mehrlesen_arrow::after {
      content: '>';
      bottom: -8px;
      right: -4px;
      font-size: 19px;
      position: absolute; }

.icon {
  display: inline-block;
  position: relative; }
  .icon svg path, .icon svg polygon {
    fill: #C2AC84; }
  .icon span {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    @media (min-width: 1200px) {
      .icon span {
        font-size: 1.2rem; } }

.icon--plus {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon--mapMarker {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.icon--view {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon__location {
  height: 9.5rem;
  width: 9.5rem; }
  @media (min-width: 1200px) {
    .icon__location {
      width: 12rem;
      height: 12rem; } }
  .icon__location svg {
    width: 100%;
    height: 100%; }

.icon--cross {
  width: 2rem;
  height: 2rem; }

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem; }
  .icon__social svg {
    width: 100%;
    height: 100%; }
    .icon__social svg path, .icon__social svg polygon {
      fill: #C2AC84; }

.icon__util {
  height: 5rem;
  width: 5rem; }
  .icon__util svg {
    width: 100%;
    height: 100%; }

.scene-container {
  width: 100%;
  height: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: flex-end; }

.card1 {
  top: 50%;
  align-self: center;
  position: absolute;
  border: 8px solid #f0ebc5;
  will-change: transform;
  width: 37vw;
  height: 35vh;
  background: radial-gradient(#fff 30%, #fcfae4 100%);
  animation: callOfLions 10s infinite linear; }
  @media (min-width: 768px) {
    .card1 {
      top: 43%;
      width: 27vw; } }
  @media all and (device-width: 1024px) and (device-height: 768px) and (orientation: landscape) {
    .card1 {
      top: 33%;
      width: 17vw; } }
  @media (min-width: 1200px) {
    .card1 {
      top: 20%;
      height: 60vh;
      width: 17vw; } }
  .card1::after {
    content: '';
    position: absolute;
    width: 173%;
    height: 120%;
    top: 0;
    left: -35%;
    background: transparent url("/portal2.png") no-repeat;
    background-size: 100%;
    background-position: center;
    animation: rotating 5s linear infinite; }

@keyframes rotating {
  0% {
    filter: brightness(1);
    transform: rotate(0deg); }
  50% {
    filter: brightness(1.2);
    transform: rotate(180deg); }
  100% {
    filter: brightness(1);
    transform: rotate(360deg); } }

.card2 {
  will-change: transform;
  background-image: url("/lions-web.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 160%;
  height: 60%;
  bottom: -10%;
  width: 100%; }
  @media (min-width: 768px) {
    .card2 {
      background-size: 120%; } }
  @media (min-width: 992px) {
    .card2 {
      background-size: contain; } }

@keyframes callOfLions {
  0% {
    background: radial-gradient(#fff 0%, #fcfae4 100%);
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 3px yellow, 0 0 4px #fcfae4, 0 0 5px #fcfae4; }
  50% {
    background: radial-gradient(#fff 30%, #fcfae4 100%);
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff; }
  100% {
    background: radial-gradient(#fff 0%, #fcfae4 100%);
    box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 3px yellow, 0 0 4px #fcfae4, 0 0 5px #fcfae4; } }

.scene {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #ea526a 0%, #2d1d46 70%, #090a0f 100%); }
  .scene::after {
    content: '';
    position: absolute;
    background: radial-gradient(transparent 0%, #000 250%);
    height: 100%;
    width: 100%;
    pointer-events: none;
    top: 0; }
  .scene::before {
    content: ' ';
    position: absolute;
    background: linear-gradient(to top, #000 20%, transparent);
    height: 20%;
    width: 100%;
    pointer-events: none;
    bottom: 0;
    z-index: 1; }
  .scene canvas {
    background-image: url("/bg_nebula.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh !important; }
  .scene .scene-landscape {
    background-image: url("/bg_landscape-web.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    bottom: 0;
    width: 100%;
    position: absolute;
    filter: blur(1px); }

.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.bg_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("/fonts/lato-v16-latin-regular.woff") format("woff"), url("/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("/fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-900.woff2") format("woff2"), url("/fonts/lato-v16-latin-900.woff") format("woff"), url("/fonts/lato-v16-latin-900.ttf") format("truetype"), url("/fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("/fonts/noto-serif-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-regular.woff") format("woff"), url("/fonts/noto-serif-v8-latin-regular.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/noto-serif-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("/fonts/noto-serif-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-700.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-700.woff") format("woff"), url("/fonts/noto-serif-v8-latin-700.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

.page__title {
  margin: 0 8%;
  padding: 30% 0 4% 0; }
  @media (min-width: 768px) {
    .page__title {
      padding: 16rem 0 4rem 0; } }
  @media (min-width: 992px) {
    .page__title {
      padding: 14rem 0 4rem 0; } }
  @media (min-width: 1200px) {
    .page__title {
      padding: 16vh 0 4rem 0; } }
  .page__title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .page__title h1 {
        font-size: 3.2rem; } }
    @media (min-width: 992px) {
      .page__title h1 {
        font-size: 3.6rem; } }
    @media (min-width: 1200px) {
      .page__title h1 {
        font-size: 4rem; } }

.title__lg {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Noto Serif'; }

.text {
  line-height: 1.6;
  font-family: "Noto Serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, #160e22, #2D1D46, #632948); }
  @media (min-width: 1700px) {
    html {
      font-size: 72%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  color: #C2AC84;
  scroll-behavior: smooth; }

#root {
  flex-direction: column;
  justify-content: space-around; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Lato"; }

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }

.golden__button {
  background: none;
  color: #C2AC84;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(194, 172, 132, 0.4), transparent); }

input {
  font-family: inherit; }

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 2px;
    background-color: #000; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: linear-gradient(to bottom, #000, #C2AC84); } }

.seo__hidden {
  position: absolute;
  visibility: hidden; }

.window {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }

@media (min-width: 768px) {
  #content {
    padding-top: 16%; } }

@media (min-width: 992px) {
  #content {
    padding-top: 8%; } }

.errorpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .errorpage p {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .errorpage p a {
      margin: 2rem 0;
      font-weight: bold;
      display: block; }

#__next {
  position: relative; }

.errorpage__code {
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 9rem; }

.mehrlesen {
  line-height: 1;
  height: 16px;
  display: flex;
  letter-spacing: 1.5px;
  transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94);
  align-items: center; }
  .mehrlesen .mehrlesen_text {
    font-weight: 900;
    line-height: 1.6;
    transition: inherit; }
  .mehrlesen .mehrlesen_graph {
    width: 60px;
    overflow: hidden;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
    .mehrlesen .mehrlesen_graph svg {
      float: right; }
  .mehrlesen .mehrlesen_arrow {
    margin: auto 0;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #C2AC84;
    width: 60px;
    transition: inherit; }
    .mehrlesen .mehrlesen_arrow::after {
      content: '>';
      bottom: -8px;
      right: -4px;
      font-size: 19px;
      position: absolute; }

.icon {
  display: inline-block;
  position: relative; }
  .icon svg path, .icon svg polygon {
    fill: #C2AC84; }
  .icon span {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    @media (min-width: 1200px) {
      .icon span {
        font-size: 1.2rem; } }

.icon--plus {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon--mapMarker {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.icon--view {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon__location {
  height: 9.5rem;
  width: 9.5rem; }
  @media (min-width: 1200px) {
    .icon__location {
      width: 12rem;
      height: 12rem; } }
  .icon__location svg {
    width: 100%;
    height: 100%; }

.icon--cross {
  width: 2rem;
  height: 2rem; }

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem; }
  .icon__social svg {
    width: 100%;
    height: 100%; }
    .icon__social svg path, .icon__social svg polygon {
      fill: #C2AC84; }

.icon__util {
  height: 5rem;
  width: 5rem; }
  .icon__util svg {
    width: 100%;
    height: 100%; }

.home__slider {
  position: absolute;
  top: 16%;
  left: 16%;
  width: 75vw;
  z-index: 2; }
  .home__slider h2 {
    font-weight: bold;
    font-family: 'Noto Serif';
    margin: 0 0 1rem 0;
    text-shadow: 2px 2px 3px #000; }
    @media (min-width: 768px) {
      .home__slider h2 {
        font-size: 3.2rem; } }
    @media (min-width: 1200px) {
      .home__slider h2 {
        font-size: 3.6rem; } }
  .home__slider p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .8em;
    line-height: 1.6;
    text-shadow: 2px 2px 3px #000; }
    @media (min-width: 768px) {
      .home__slider p {
        font-size: initial; } }
  @media (min-width: 992px) {
    .home__slider {
      top: initial;
      left: 6%;
      bottom: 8%; } }
  @media (min-width: 1700px) {
    .home__slider {
      width: 40vw; } }

.home__slider--wrapper {
  height: 16rem; }
  @media (min-width: 992px) {
    .home__slider--wrapper {
      height: 14rem; } }
  @media (min-width: 1200px) {
    .home__slider--wrapper {
      height: 16rem; } }

.carousel__dot:first-child {
  padding-left: 0; }

.home__route--img {
  height: 30vh; }
  @media (min-width: 768px) {
    .home__route--img {
      border: 1px solid #C2AC84;
      border-left: none; } }
  @media (min-width: 992px) {
    .home__route--img {
      height: 50vh;
      padding: 4% 0; } }

.home__route--wrapper {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .home__route--wrapper {
      flex-direction: row;
      align-items: center; }
      .home__route--wrapper .home__route--img {
        flex: 1 0 65%; } }
    @media (min-width: 768px) and (min-width: 992px) {
      .home__route--wrapper .home__route--img {
        flex: 1 0 55%; } }

.home__route {
  margin: 0 0 8% 0;
  display: block; }
  .home__route:hover:hover .mehrlesen_text {
    letter-spacing: 3.5px;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
  .home__route:hover:hover .mehrlesen_graph {
    width: 120px;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
  @media (min-width: 768px) {
    .home__route:nth-child(odd) .home__route--wrapper {
      flex-direction: row-reverse; }
      .home__route:nth-child(odd) .home__route--wrapper .home__route--img {
        border-right: none;
        border-left: 1px solid #C2AC84; }
      .home__route:nth-child(odd) .home__route--wrapper .home__route--content {
        margin: 0 4% 0 8%; } }
  @media (min-width: 768px) {
    .home__route:nth-child(even) .home__route--wrapper .home__route--content {
      margin: 0 8% 0 4%; } }

.home__route--content {
  margin: 0 8%; }
  .home__route--content p {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .9em;
    line-height: 1.6; }

.home__route--link {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold; }

.preface::before {
  content: ' ';
  display: block;
  width: 100%;
  height: 15vh;
  background: linear-gradient(to bottom, #000 15%, transparent); }
  @media (min-width: 1700px) {
    .preface::before {
      height: 25vh; } }

.preface h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.6rem;
  margin: 0 8%;
  text-align: center; }
  @media (min-width: 992px) {
    .preface h2 {
      margin: 0 auto;
      max-width: 600px;
      line-height: 2; } }

.preface p {
  text-align: center;
  font-family: 'Noto Serif';
  line-height: 1.6;
  padding: 3%; }
  @media (min-width: 768px) {
    .preface p {
      text-align: initial; } }
  @media (min-width: 992px) {
    .preface p {
      padding: 1%; } }

.preface__blocks {
  margin: 8%; }
  @media (min-width: 768px) {
    .preface__blocks {
      display: flex; } }
  @media (min-width: 1200px) {
    .preface__blocks {
      margin: 0 auto;
      padding: 3% 0 8% 0;
      max-width: 1200px; } }

