.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.bg_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("/fonts/lato-v16-latin-regular.woff") format("woff"), url("/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("/fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-900.woff2") format("woff2"), url("/fonts/lato-v16-latin-900.woff") format("woff"), url("/fonts/lato-v16-latin-900.ttf") format("truetype"), url("/fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("/fonts/noto-serif-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-regular.woff") format("woff"), url("/fonts/noto-serif-v8-latin-regular.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/noto-serif-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("/fonts/noto-serif-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-700.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-700.woff") format("woff"), url("/fonts/noto-serif-v8-latin-700.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

.page__title {
  margin: 0 8%;
  padding: 30% 0 4% 0; }
  @media (min-width: 768px) {
    .page__title {
      padding: 16rem 0 4rem 0; } }
  @media (min-width: 992px) {
    .page__title {
      padding: 14rem 0 4rem 0; } }
  @media (min-width: 1200px) {
    .page__title {
      padding: 16vh 0 4rem 0; } }
  .page__title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .page__title h1 {
        font-size: 3.2rem; } }
    @media (min-width: 992px) {
      .page__title h1 {
        font-size: 3.6rem; } }
    @media (min-width: 1200px) {
      .page__title h1 {
        font-size: 4rem; } }

.title__lg {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Noto Serif'; }

.text {
  line-height: 1.6;
  font-family: "Noto Serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, #160e22, #2D1D46, #632948); }
  @media (min-width: 1700px) {
    html {
      font-size: 72%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  color: #C2AC84;
  scroll-behavior: smooth; }

#root {
  flex-direction: column;
  justify-content: space-around; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Lato"; }

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }

.golden__button {
  background: none;
  color: #C2AC84;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(194, 172, 132, 0.4), transparent); }

input {
  font-family: inherit; }

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 2px;
    background-color: #000; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: linear-gradient(to bottom, #000, #C2AC84); } }

.seo__hidden {
  position: absolute;
  visibility: hidden; }

.window {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }

@media (min-width: 768px) {
  #content {
    padding-top: 16%; } }

@media (min-width: 992px) {
  #content {
    padding-top: 8%; } }

.mehrlesen {
  line-height: 1;
  height: 16px;
  display: flex;
  letter-spacing: 1.5px;
  transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94);
  align-items: center; }
  .mehrlesen .mehrlesen_text {
    font-weight: 900;
    line-height: 1.6;
    transition: inherit; }
  .mehrlesen .mehrlesen_graph {
    width: 60px;
    overflow: hidden;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
    .mehrlesen .mehrlesen_graph svg {
      float: right; }
  .mehrlesen .mehrlesen_arrow {
    margin: auto 0;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #C2AC84;
    width: 60px;
    transition: inherit; }
    .mehrlesen .mehrlesen_arrow::after {
      content: '>';
      bottom: -8px;
      right: -4px;
      font-size: 19px;
      position: absolute; }

.icon {
  display: inline-block;
  position: relative; }
  .icon svg path, .icon svg polygon {
    fill: #C2AC84; }
  .icon span {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    @media (min-width: 1200px) {
      .icon span {
        font-size: 1.2rem; } }

.icon--plus {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon--mapMarker {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.icon--view {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon__location {
  height: 9.5rem;
  width: 9.5rem; }
  @media (min-width: 1200px) {
    .icon__location {
      width: 12rem;
      height: 12rem; } }
  .icon__location svg {
    width: 100%;
    height: 100%; }

.icon--cross {
  width: 2rem;
  height: 2rem; }

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem; }
  .icon__social svg {
    width: 100%;
    height: 100%; }
    .icon__social svg path, .icon__social svg polygon {
      fill: #C2AC84; }

.icon__util {
  height: 5rem;
  width: 5rem; }
  .icon__util svg {
    width: 100%;
    height: 100%; }

@media (min-width: 768px) {
  .locations {
    display: flex;
    position: relative; } }

.location__item {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0; }
  .location__item h2 {
    padding-top: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.6rem; }
    @media (min-width: 768px) {
      .location__item h2 {
        font-size: 1.3rem; } }
    @media (min-width: 992px) {
      .location__item h2 {
        font-size: 1.6rem; } }
    @media (min-width: 1200px) {
      .location__item h2 {
        font-size: 1.8rem; } }
  .location__item:nth-child(4) > .location__item--wrapper {
    border-right: none; }

@keyframes loopLocation {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.location__item--img {
  height: 25vh;
  border-top: 1px solid #C2AC84;
  position: relative;
  border-bottom: 1px solid #C2AC84; }
  @media (min-width: 768px) {
    .location__item--img {
      opacity: .3;
      filter: grayscale(1);
      height: 60vh;
      border-top: none;
      border-bottom: none;
      animation: loopLocation 50s linear infinite; } }
  @media (min-width: 992px) {
    .location__item--img {
      height: 53vh; } }
  @media (min-width: 1200px) {
    .location__item--img {
      height: 62vh; } }
  @media (min-width: 1700px) {
    .location__item--img {
      height: 70vh; } }
  .location__item--img:after {
    content: '';
    opacity: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.692));
    position: absolute;
    width: 100%;
    height: 100%;
    transition: .5s all ease; }
    @media (min-width: 768px) {
      .location__item--img:after {
        background-image: linear-gradient(to top, #000, transparent);
        height: 70%; } }
    @media (min-width: 1700px) {
      .location__item--img:after {
        background-image: linear-gradient(to top, #000 25%, transparent); } }

.location__item--wrapper {
  position: relative; }
  @media (min-width: 768px) {
    .location__item--wrapper {
      border-right: 2px solid #C2AC84; }
      .location__item--wrapper::after {
        content: '';
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to top, #000 10%, transparent);
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 80%; } }
  .location__item--wrapper:hover .location__item--img, .location__item--wrapper:active .location__item--img {
    filter: grayscale(1); }
    .location__item--wrapper:hover .location__item--img:after, .location__item--wrapper:active .location__item--img:after {
      opacity: 1;
      transition: .5s all ease; }
    @media (min-width: 768px) {
      .location__item--wrapper:hover .location__item--img, .location__item--wrapper:active .location__item--img {
        filter: none;
        opacity: 1;
        transition: .5s all ease; }
        .location__item--wrapper:hover .location__item--img:after, .location__item--wrapper:active .location__item--img:after {
          opacity: 1;
          transition: .5s all ease; } }
  .location__item--wrapper:hover .location__item--subitemwrapper a, .location__item--wrapper:active .location__item--subitemwrapper a {
    transition: .5s all ease;
    transform: translateY(0);
    z-index: 0;
    opacity: 1;
    display: block; }
    @media (min-width: 768px) {
      .location__item--wrapper:hover .location__item--subitemwrapper a, .location__item--wrapper:active .location__item--subitemwrapper a {
        transform: translateY(0); } }

.location__item--subitemwrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly; }
  @media (min-width: 768px) {
    .location__item--subitemwrapper {
      top: initial;
      bottom: 0;
      height: 50%;
      z-index: 1;
      justify-content: initial; }
      .location__item--subitemwrapper .location__item--subitem:last-child::after {
        border: none; } }
  @media (min-width: 992px) {
    .location__item--subitemwrapper {
      height: 40%; } }
  @media (min-width: 1200px) {
    .location__item--subitemwrapper {
      height: 45%; } }
  @media (min-width: 1700px) {
    .location__item--subitemwrapper {
      height: 50%; } }
  .location__item--subitemwrapper a {
    transition: .5s all ease;
    transform: translateY(-100%) skew(-0.06turn, 18deg);
    z-index: -1;
    opacity: 0; }
    @media (min-width: 768px) {
      .location__item--subitemwrapper a {
        transform: translateY(100%);
        padding: 2rem 0; }
        .location__item--subitemwrapper a::after {
          content: "";
          position: absolute;
          bottom: 0;
          border-bottom: 1px solid #C2AC84;
          width: 2rem;
          margin: 0 auto;
          left: 0;
          right: 0; } }
    @media (min-width: 1200px) {
      .location__item--subitemwrapper a {
        padding: 1.6rem 0; } }

.location__item--subitem {
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-transform: uppercase; }
  @media (min-width: 1200px) {
    .location__item--subitem {
      font-size: 1.6rem; } }

.locations__daten {
  display: none; }
  @media (min-width: 768px) {
    .locations__daten {
      text-align: center;
      display: flex;
      justify-content: space-around; } }

.locations__daten--item {
  width: 100%;
  position: relative;
  padding: 10rem 0; }
  .locations__daten--item img {
    padding: 3rem 0;
    height: 8rem; }
    @media (min-width: 992px) {
      .locations__daten--item img {
        height: 9rem; } }
    @media (min-width: 1200px) {
      .locations__daten--item img {
        height: 11rem; } }
    @media (min-width: 1700px) {
      .locations__daten--item img {
        height: 13rem; } }
  .locations__daten--item:after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    background-image: linear-gradient(to bottom, #C2AC84 65%, transparent);
    top: -5px;
    display: block;
    right: 0; }
  .locations__daten--item:last-child:after {
    display: none; }
  .locations__daten--item::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 100%;
    height: 15vh;
    display: block;
    background-image: linear-gradient(to bottom, #000, transparent); }

.locations__daten--itemdata {
  padding: 1.6rem 0; }
  @media (min-width: 1200px) {
    .locations__daten--itemdata {
      height: 6rem; } }
  .locations__daten--itemdata h5 {
    margin: 0;
    padding: 1rem 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .9rem;
    position: relative; }
    @media (min-width: 1200px) {
      .locations__daten--itemdata h5 {
        font-size: 1.1rem; } }
    .locations__daten--itemdata h5::after {
      content: "";
      position: absolute;
      bottom: 0;
      border-bottom: 1px solid #C2AC84;
      width: 2rem;
      margin: 0 auto;
      left: 0;
      right: 0; }
  .locations__daten--itemdata p {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase; }
    @media (min-width: 1200px) {
      .locations__daten--itemdata p {
        width: 65%;
        margin: 1rem auto;
        font-size: 1.3rem; } }

.ubersicht {
  display: none; }
  @media (min-width: 768px) {
    .ubersicht {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-size: .9rem;
      position: absolute;
      bottom: 3rem;
      display: inline-block;
      margin: 0 auto;
      padding: 10px 0 3px 0;
      width: max-content;
      left: 0;
      right: 0;
      text-align: center;
      background-image: linear-gradient(to top, #000 75%, transparent); }
      .ubersicht span {
        display: block; } }
  @media (min-width: 1700px) {
    .ubersicht {
      bottom: 10%; } }
  @media (min-width: 1200px) {
    .ubersicht {
      font-size: 1.1rem; } }

