.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.bg_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("/fonts/lato-v16-latin-regular.woff") format("woff"), url("/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("/fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-900.woff2") format("woff2"), url("/fonts/lato-v16-latin-900.woff") format("woff"), url("/fonts/lato-v16-latin-900.ttf") format("truetype"), url("/fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("/fonts/noto-serif-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-regular.woff") format("woff"), url("/fonts/noto-serif-v8-latin-regular.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/noto-serif-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("/fonts/noto-serif-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-700.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-700.woff") format("woff"), url("/fonts/noto-serif-v8-latin-700.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

.page__title {
  margin: 0 8%;
  padding: 30% 0 4% 0; }
  @media (min-width: 768px) {
    .page__title {
      padding: 16rem 0 4rem 0; } }
  @media (min-width: 992px) {
    .page__title {
      padding: 14rem 0 4rem 0; } }
  @media (min-width: 1200px) {
    .page__title {
      padding: 16vh 0 4rem 0; } }
  .page__title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .page__title h1 {
        font-size: 3.2rem; } }
    @media (min-width: 992px) {
      .page__title h1 {
        font-size: 3.6rem; } }
    @media (min-width: 1200px) {
      .page__title h1 {
        font-size: 4rem; } }

.title__lg {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Noto Serif'; }

.text {
  line-height: 1.6;
  font-family: "Noto Serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, #160e22, #2D1D46, #632948); }
  @media (min-width: 1700px) {
    html {
      font-size: 72%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  color: #C2AC84;
  scroll-behavior: smooth; }

#root {
  flex-direction: column;
  justify-content: space-around; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Lato"; }

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }

.golden__button {
  background: none;
  color: #C2AC84;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(194, 172, 132, 0.4), transparent); }

input {
  font-family: inherit; }

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 2px;
    background-color: #000; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: linear-gradient(to bottom, #000, #C2AC84); } }

.seo__hidden {
  position: absolute;
  visibility: hidden; }

.window {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }

@media (min-width: 768px) {
  #content {
    padding-top: 16%; } }

@media (min-width: 992px) {
  #content {
    padding-top: 8%; } }

.mehrlesen {
  line-height: 1;
  height: 16px;
  display: flex;
  letter-spacing: 1.5px;
  transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94);
  align-items: center; }
  .mehrlesen .mehrlesen_text {
    font-weight: 900;
    line-height: 1.6;
    transition: inherit; }
  .mehrlesen .mehrlesen_graph {
    width: 60px;
    overflow: hidden;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
    .mehrlesen .mehrlesen_graph svg {
      float: right; }
  .mehrlesen .mehrlesen_arrow {
    margin: auto 0;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #C2AC84;
    width: 60px;
    transition: inherit; }
    .mehrlesen .mehrlesen_arrow::after {
      content: '>';
      bottom: -8px;
      right: -4px;
      font-size: 19px;
      position: absolute; }

.icon {
  display: inline-block;
  position: relative; }
  .icon svg path, .icon svg polygon {
    fill: #C2AC84; }
  .icon span {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    @media (min-width: 1200px) {
      .icon span {
        font-size: 1.2rem; } }

.icon--plus {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon--mapMarker {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.icon--view {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon__location {
  height: 9.5rem;
  width: 9.5rem; }
  @media (min-width: 1200px) {
    .icon__location {
      width: 12rem;
      height: 12rem; } }
  .icon__location svg {
    width: 100%;
    height: 100%; }

.icon--cross {
  width: 2rem;
  height: 2rem; }

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem; }
  .icon__social svg {
    width: 100%;
    height: 100%; }
    .icon__social svg path, .icon__social svg polygon {
      fill: #C2AC84; }

.icon__util {
  height: 5rem;
  width: 5rem; }
  .icon__util svg {
    width: 100%;
    height: 100%; }

.contact {
  margin: 0 8%; }
  @media (min-width: 2100px) {
    .contact {
      margin: 0 16%; } }

.contact--wrapper {
  overflow: hidden; }

.contact__steps {
  display: flex;
  transform: translateX(0%);
  transition: .5s all ease; }
  .contact__steps .contact__step {
    flex: 1 0 98%;
    margin: 0 1%; }

.atSecondStep {
  transform: translateX(-100%);
  transition: .5s all ease; }

.atThirdStep {
  transform: translateX(-200%);
  transition: .5s all ease; }

.contact__stepslider {
  font-size: inherit;
  display: flex;
  justify-content: space-around;
  position: relative; }
  @media (min-width: 768px) {
    .contact__stepslider {
      margin-bottom: 2rem; } }
  .contact__stepslider::after {
    content: "";
    width: 100%;
    display: block;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #C2AC84;
    z-index: -1; }

.contact__stepslider--ellipse {
  background: #C2AC84;
  color: #fff;
  border: #C2AC84 2px solid;
  border-radius: 100px;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  transition: .5s all ease;
  justify-content: center; }
  .contact__stepslider--ellipse span {
    font-size: 1.1rem; }

.activeStep {
  transition: .5s all ease;
  background: #000; }

.contact__step h3 {
  font-weight: bold;
  font-family: 'Noto Serif';
  margin: 0 0 1rem 0;
  font-size: 2rem; }
  @media (min-width: 1700px) {
    .contact__step h3 {
      font-size: 2.6rem;
      margin: 1vh 0 2vh 0; } }

@media (min-width: 768px) {
  .contact__step--flexWrapper {
    display: flex;
    flex-wrap: wrap; }
    .contact__step--flexWrapper .contact__stepblock {
      flex: 45%;
      margin: 0 0 2rem 0; } }
    @media (min-width: 768px) and (min-width: 1700px) {
      .contact__step--flexWrapper .contact__stepblock {
        margin: 0 0 3% 0; } }

@media (min-width: 768px) {
      .contact__step--flexWrapper .contact__stepblock p {
        display: inline-block;
        padding-right: 2rem; }
    .contact__step--flexWrapper .contact__stepblock:nth-child(even) {
      margin-left: 2rem; } }

@media (min-width: 1200px) {
  .contact__step--flexWrapper-xl {
    display: flex;
    flex-wrap: wrap; }
    .contact__step--flexWrapper-xl .contact__stepblock {
      flex: 47%;
      margin: 0 0 2rem 0; } }
    @media (min-width: 1200px) and (min-width: 1700px) {
      .contact__step--flexWrapper-xl .contact__stepblock {
        margin: 0 0 5vh 0; } }

@media (min-width: 1200px) {
      .contact__step--flexWrapper-xl .contact__stepblock p {
        display: inline-block;
        padding-right: 1rem; } }
      @media (min-width: 1200px) and (min-width: 1700px) {
        .contact__step--flexWrapper-xl .contact__stepblock p {
          display: block; } }

@media (min-width: 1200px) {
    .contact__step--flexWrapper-xl .contact__stepblock:nth-child(even) {
      margin-left: 2rem; } }

.contact__stepblock {
  margin: 2.5rem 0;
  font-size: 1.3rem;
  line-height: 1.6;
  position: relative; }
  .contact__stepblock label {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block; }
  .contact__stepblock select {
    width: 100%;
    text-overflow: ellipsis;
    display: block;
    font-weight: 700;
    line-height: 1.6;
    padding: .6em 1.4em .5em 2em;
    width: 100%;
    font-weight: bold;
    color: #C2AC84;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0 0 1rem 0;
    font-family: "Lato";
    text-transform: uppercase;
    letter-spacing: 1.2px;
    border: none;
    border-bottom: 1px solid #C2AC84;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23C2AC84%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: left .2em top 50%, 0 0;
    background-size: .65em auto, 100%; }
    .contact__stepblock select::-ms-expand {
      display: none; }
    .contact__stepblock select:focus {
      border-color: #C2AC84;
      box-shadow: none;
      color: #C2AC84;
      outline: none; }
  .contact__stepblock textarea {
    background: transparent;
    border: 1px solid #C2AC84;
    color: #C2AC84;
    font-family: "Noto Serif";
    font-size: 1.4rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 1rem;
    padding: 1.6rem; }
    .contact__stepblock textarea:focus {
      outline: none; }
  .contact__stepblock optgroup {
    margin: 0;
    padding: 0;
    font-family: "Lato"; }

.contact__stepblock--inner {
  letter-spacing: 2px;
  text-transform: uppercase; }
  .contact__stepblock--inner label {
    font-weight: bold;
    display: inline; }

.contact__stepblock--datewrapper {
  display: flex;
  flex-wrap: wrap; }

.contact__stepblock--date {
  flex: 40%;
  margin: 1rem 5px 1rem 0; }
  @media (min-width: 768px) {
    .contact__stepblock--date {
      margin: 1rem 1rem 1rem 0; }
      .contact__stepblock--date .react-datepicker-wrapper {
        width: 100%; } }
  @media (min-width: 1200px) {
    .contact__stepblock--date {
      margin: 0 0 1rem 1rem; } }
  .contact__stepblock--date label {
    font-size: .85em; }
  .contact__stepblock--date input {
    margin: .3;
    width: 100%;
    background: transparent;
    border: none;
    padding: 1rem 0 1rem 2rem;
    border-bottom: 1px solid #C2AC84;
    border-radius: 0;
    color: #C2AC84;
    font-family: "Lato";
    font-weight: bold;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23C2AC84%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: left .2em top 50%, 0 0;
    background-size: .65em auto, 100%; }
    .contact__stepblock--date input:focus {
      outline: none; }

.label__radio {
  cursor: pointer;
  padding-left: 1.6rem;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2; }
  @media (min-width: 1200px) {
    .label__radio:hover::after {
      transform: scale(2);
      opacity: .25;
      transition: .25s all ease; } }
  .label__radio::before {
    position: absolute;
    z-index: -1;
    content: "";
    height: 1.8rem;
    left: -1.8rem;
    top: -2px;
    width: 1.8rem;
    border-radius: 5rem;
    border: 1px solid #C2AC84; }
  .label__radio::after {
    transition: .25s all ease;
    transform: scale(0.3);
    position: absolute;
    z-index: -1;
    content: "";
    opacity: 0;
    height: 1.4rem;
    left: -1.5rem;
    top: 1px;
    width: 1.4rem;
    border-radius: 5rem;
    background: #C2AC84; }

.input__radio {
  cursor: pointer;
  opacity: 0; }
  .input__radio:hover + .label__radio::after {
    transform: scale(2);
    opacity: .25;
    transition: .25s all ease; }

.input__radio:checked + .label__radio::after {
  transform: scale(1);
  opacity: 1; }

.input__text {
  position: relative;
  background: transparent;
  border: none;
  border-bottom: 1px solid #C2AC84;
  border-radius: 0;
  width: 100%;
  color: #C2AC84;
  padding-bottom: 1rem;
  margin: .5rem 0;
  font-family: "Noto Serif";
  font-size: 1.4rem; }
  .input__text:focus, .input__text:valid {
    outline: none; }

.contact__buttongroup {
  display: flex;
  padding-top: 2rem;
  justify-content: space-evenly; }

.golden__button--center {
  margin: 2rem auto;
  display: inline-block; }

.hidden {
  display: none; }

.contact__info {
  display: flex;
  flex-direction: column-reverse;
  height: auto; }
  @media (min-width: 768px) {
    .contact__info {
      flex-direction: row;
      align-items: center;
      padding-top: 5%; } }

.contact__info--map {
  flex: 50%;
  height: 75vh; }
  @media (min-width: 768px) {
    .contact__info--map {
      flex: 75%;
      border: 1px solid #C2AC84;
      border-left: none; } }

.contact__info--address {
  flex: 50%;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.3rem;
  line-height: 1.6;
  margin: 8%; }
  .contact__info--address a {
    display: block; }
  @media (min-width: 768px) {
    .contact__info--address {
      flex: 25%;
      margin: 0 8%; } }

.contact__info--logo {
  height: 15rem;
  padding-bottom: 1rem;
  position: relative; }
  .contact__info--logo::after {
    content: " ";
    height: 1px;
    display: block;
    background: #C2AC84;
    width: 40px;
    position: absolute;
    bottom: 0;
    left: 0; }
  .contact__info--logo img {
    margin-left: -.7rem;
    height: 100%; }

.career__entry--wrapper {
  position: relative; }
  .career__entry--wrapper:before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 45%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.15), transparent); }

.career__entry {
  display: flex;
  position: relative;
  height: 6rem;
  margin: 1rem 8% 0 8%;
  overflow: hidden;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }
  @media (min-width: 768px) {
    .career__entry {
      margin: 2.5rem 8% 0 8%; }
      .career__entry .icon--plus {
        margin-top: .5rem; } }
  @media (min-width: 2100px) {
    .career__entry {
      margin: 2.5rem 16% 0 16%; } }
  .career__entry h3 {
    font-weight: bold;
    font-family: 'Noto Serif';
    margin: 0 0 4rem 0;
    white-space: nowrap; }
    @media (min-width: 768px) {
      .career__entry h3 {
        font-size: 2.1rem; } }
    @media (min-width: 2100px) {
      .career__entry h3 {
        font-size: 2.6rem; } }
  .career__entry p {
    font-family: "Noto Serif";
    line-height: 1.6; }

.openEntry {
  height: auto;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.rotateSymbol {
  transform: rotate(45deg);
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.career__entry--util {
  font-size: .8em;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: absolute;
  top: 3rem; }
  @media (min-width: 768px) {
    .career__entry--util {
      top: 1rem;
      flex: 100%; } }
  @media (min-width: 1200px) {
    .career__entry--util {
      flex: 40%; } }
  .career__entry--util a {
    transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }
  .career__entry--util:first-child {
    right: 0; }
    @media (min-width: 768px) {
      .career__entry--util:first-child {
        display: block; } }
  @media (min-width: 768px) {
    .career__entry--util {
      position: relative; } }

.button--bewerbung {
  display: inline-block;
  margin: 2rem 0 3rem 0; }

.career__application {
  padding-top: 20%;
  margin: 0 8%; }
  @media (min-width: 992px) {
    .career__application {
      padding-top: 10%; } }
  @media (min-width: 2100px) {
    .career__application {
      margin: 0 16%; } }
  .career__application h2 {
    font-weight: bold;
    font-family: 'Noto Serif';
    margin: 1.6rem 0;
    font-size: 2.4rem; }
    @media (min-width: 1700px) {
      .career__application h2 {
        font-size: 2.6rem;
        margin: 1vh 0 2vh 0; } }

.contact__step--flexWrapper > .contact__stepblock .contact__stepblock--career {
  display: block; }

.career__submitwrapper {
  display: flex;
  justify-content: center;
  align-items: center; }

.uploadcv {
  padding: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #C2AC84;
  border-style: dashed;
  border-radius: 1.6rem; }
  .uploadcv input:focus {
    outline: none; }
  .uploadcv span {
    display: block; }
    .uploadcv span:nth-child(3) {
      font-size: .7em; }
  @media (min-width: 768px) {
    .uploadcv {
      padding: 1.6rem 0; } }

