.backgroundImg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.bg_img {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("/fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-regular.woff2") format("woff2"), url("/fonts/lato-v16-latin-regular.woff") format("woff"), url("/fonts/lato-v16-latin-regular.ttf") format("truetype"), url("/fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("/fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("/fonts/lato-v16-latin-900.woff2") format("woff2"), url("/fonts/lato-v16-latin-900.woff") format("woff"), url("/fonts/lato-v16-latin-900.ttf") format("truetype"), url("/fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */ }

/* noto-serif-regular - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/noto-serif-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif"), local("NotoSerif"), url("/fonts/noto-serif-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-regular.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-regular.woff") format("woff"), url("/fonts/noto-serif-v8-latin-regular.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-regular.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

/* noto-serif-700 - latin */
@font-face {
  font-family: 'Noto Serif';
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/noto-serif-v8-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Noto Serif Bold"), local("NotoSerif-Bold"), url("/fonts/noto-serif-v8-latin-700.eot?#iefix") format("embedded-opentype"), url("/fonts/noto-serif-v8-latin-700.woff2") format("woff2"), url("/fonts/noto-serif-v8-latin-700.woff") format("woff"), url("/fonts/noto-serif-v8-latin-700.ttf") format("truetype"), url("/fonts/noto-serif-v8-latin-700.svg#NotoSerif") format("svg");
  /* Legacy iOS */ }

.page__title {
  margin: 0 8%;
  padding: 30% 0 4% 0; }
  @media (min-width: 768px) {
    .page__title {
      padding: 16rem 0 4rem 0; } }
  @media (min-width: 992px) {
    .page__title {
      padding: 14rem 0 4rem 0; } }
  @media (min-width: 1200px) {
    .page__title {
      padding: 16vh 0 4rem 0; } }
  .page__title h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .page__title h1 {
        font-size: 3.2rem; } }
    @media (min-width: 992px) {
      .page__title h1 {
        font-size: 3.6rem; } }
    @media (min-width: 1200px) {
      .page__title h1 {
        font-size: 4rem; } }

.title__lg {
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Noto Serif'; }

.text {
  line-height: 1.6;
  font-family: "Noto Serif"; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(30deg, #160e22, #2D1D46, #632948); }
  @media (min-width: 1700px) {
    html {
      font-size: 72%; } }

body {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-family: 'Lato', sans-serif;
  color: #C2AC84;
  scroll-behavior: smooth; }

#root {
  flex-direction: column;
  justify-content: space-around; }

a {
  color: inherit;
  text-decoration: none;
  font-family: "Lato"; }

button {
  font-family: inherit;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer; }
  button:focus {
    outline: none; }

.golden__button {
  background: none;
  color: #C2AC84;
  border: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2rem;
  border-radius: 4px;
  font-weight: bold;
  background-image: linear-gradient(45deg, rgba(194, 172, 132, 0.4), transparent); }

input {
  font-family: inherit; }

@media (min-width: 992px) {
  body::-webkit-scrollbar {
    position: absolute;
    width: 2px;
    background-color: #000; }
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }
  body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background: linear-gradient(to bottom, #000, #C2AC84); } }

.seo__hidden {
  position: absolute;
  visibility: hidden; }

.window {
  z-index: -2;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden; }

@media (min-width: 768px) {
  #content {
    padding-top: 16%; } }

@media (min-width: 992px) {
  #content {
    padding-top: 8%; } }

.errorpage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .errorpage p {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase; }
    .errorpage p a {
      margin: 2rem 0;
      font-weight: bold;
      display: block; }

#__next {
  position: relative; }

.errorpage__code {
  font-family: "Noto Serif";
  font-weight: bold;
  font-size: 9rem; }

.mehrlesen {
  line-height: 1;
  height: 16px;
  display: flex;
  letter-spacing: 1.5px;
  transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94);
  align-items: center; }
  .mehrlesen .mehrlesen_text {
    font-weight: 900;
    line-height: 1.6;
    transition: inherit; }
  .mehrlesen .mehrlesen_graph {
    width: 60px;
    overflow: hidden;
    transition: 0.35s all cubic-bezier(0.58, 0.12, 0.17, 0.94); }
    .mehrlesen .mehrlesen_graph svg {
      float: right; }
  .mehrlesen .mehrlesen_arrow {
    margin: auto 0;
    position: relative;
    display: inline-block;
    height: 1px;
    background-color: #C2AC84;
    width: 60px;
    transition: inherit; }
    .mehrlesen .mehrlesen_arrow::after {
      content: '>';
      bottom: -8px;
      right: -4px;
      font-size: 19px;
      position: absolute; }

.icon {
  display: inline-block;
  position: relative; }
  .icon svg path, .icon svg polygon {
    fill: #C2AC84; }
  .icon span {
    font-size: .9rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-style: normal;
    position: absolute;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%; }
    @media (min-width: 1200px) {
      .icon span {
        font-size: 1.2rem; } }

.icon--plus {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon--mapMarker {
  display: inline-block;
  position: relative;
  height: 4rem;
  width: 4rem; }

.icon--view {
  height: 2rem;
  width: 2rem;
  transition: 0.5s all cubic-bezier(0.49, 0.08, 0.23, 0.98); }

.icon__location {
  height: 9.5rem;
  width: 9.5rem; }
  @media (min-width: 1200px) {
    .icon__location {
      width: 12rem;
      height: 12rem; } }
  .icon__location svg {
    width: 100%;
    height: 100%; }

.icon--cross {
  width: 2rem;
  height: 2rem; }

.icon__social {
  padding: .5rem;
  height: 3rem;
  width: 3rem; }
  .icon__social svg {
    width: 100%;
    height: 100%; }
    .icon__social svg path, .icon__social svg polygon {
      fill: #C2AC84; }

.icon__util {
  height: 5rem;
  width: 5rem; }
  .icon__util svg {
    width: 100%;
    height: 100%; }

.carousel__3D {
  overflow-x: hidden;
  position: relative;
  display: flex;
  height: 48rem;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 768px) {
    .carousel__3D {
      overflow: initial; } }
  @media (min-width: 992px) {
    .carousel__3D {
      height: 52rem; } }
  @media (min-width: 1200px) {
    .carousel__3D {
      height: 50vh;
      flex-direction: row;
      width: 1010px;
      margin: 0 auto; } }
  @media (min-width: 1700px) {
    .carousel__3D {
      transform: scale(1.2); } }

.carousel__wrapper {
  margin: auto;
  box-sizing: border-box;
  flex: 1 0 50%;
  position: absolute;
  transform: translate(-50%, -50%) scale(0.6);
  top: 50%;
  left: 50%; }
  @media (min-width: 768px) {
    .carousel__wrapper {
      overflow: initial;
      position: relative;
      transform: initial;
      top: initial;
      left: initial; } }

.carousel__infos {
  text-align: center;
  flex: 1;
  position: absolute;
  bottom: 0; }
  @media (min-width: 1200px) {
    .carousel__infos {
      text-align: initial;
      position: initial;
      bottom: initial; } }

.infos__item {
  animation: appear 0.5s cubic-bezier(0.49, 0.04, 0.28, 0.99); }
  .infos__item h3 {
    font-weight: bold;
    font-family: 'Noto Serif'; }
    @media (min-width: 768px) {
      .infos__item h3 {
        font-size: 2.6rem; } }
  .infos__item h4, .infos__item p, .infos__item a {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: .75em; }
    @media (min-width: 1200px) {
      .infos__item h4, .infos__item p, .infos__item a {
        font-size: 1em; } }

.carousel__3D--downloads {
  height: 55rem;
  z-index: 1; }
  @media (min-width: 768px) {
    .carousel__3D--downloads {
      flex-direction: column-reverse;
      height: 40rem; } }
  @media (min-width: 1200px) {
    .carousel__3D--downloads {
      height: initial;
      flex-direction: row;
      max-width: 1280px;
      width: auto; } }
  @media (min-width: 1700px) {
    .carousel__3D--downloads {
      width: 64%; } }
  @media (min-width: 2100px) {
    .carousel__3D--downloads {
      max-width: 1520px; } }

.carousel__infos--downloads {
  bottom: 12rem; }
  @media (min-width: 768px) {
    .carousel__infos--downloads {
      bottom: -10rem; } }
  @media (min-width: 1200px) {
    .carousel__infos--downloads {
      position: absolute;
      bottom: -4rem;
      left: 280px;
      text-align: center; } }

.infos__item--downloads {
  animation: appearSmall 0.5s cubic-bezier(0.49, 0.04, 0.28, 0.99);
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .infos__item--downloads {
      height: 35rem; } }
  @media (min-width: 1200px) {
    .infos__item--downloads {
      height: 40rem;
      width: 20rem; } }

@keyframes appear {
  0% {
    transform: translateY(30%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes appearSmall {
  0% {
    transform: translateY(5%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.addFrame {
  border: 1px solid #C2AC84; }

.carousel__item {
  position: 'absolute';
  top: 0;
  left: 0;
  list-style-type: none; }
  .carousel__item::after {
    content: '';
    position: absolute;
    height: 2rem;
    width: 100%;
    bottom: -25%;
    display: block;
    background: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%); }

.carousel__item:hover {
  cursor: pointer; }

.d-none {
  display: none; }

