.team__lastblock {
  padding: 10% 0;
  h5 {
    @include display_text;
    font-weight: normal;
    margin: 5rem 0;
  }
  margin: 0 auto;
  text-align: center;
}

.infos__item {
	a {
		display: block;
		margin: 1rem 0;
		@include xl {
			float: left;
		}
	}
}

.carousel__3D--team {
  @include xl {
    width: 1140px;

    .carousel__infos{
      flex: 1 0 20%;
    }
  }
}